.user-center-page {
  padding: 48px;
  flex-direction: column;
  justify-content: center;

  section {
    margin-right: 30px;
    display: flex;
  }

  .title {
    font-size: 24px;
    margin-bottom: 12px;
  }

  .content {
    width: 400px;
    min-height: 300px;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.05);
    border-radius: 5px;
    margin: 0 30px 30px 0;
  }

  .contact .content {
    width: 830px;
  }
}