@import '../../common/less/variable.less';

.article {
  width: calc(100% - 300px);
  height: 100vh;
  background-color: #FFF;

  &-manage {
    height: 100%;
    &__header {
      height: 80px;
      padding: 16px;
      border-bottom: 1px solid #DDD;
  
      .title {
        font-size: 20px;
      }
  
      .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        .details, .tag-list {
          display: flex;
          align-items: center;
        }
  
        .time {
          font-size: 13px;
          color: #999;
          margin-right: 4px;
        }
        
        .tag-item {
          font-size: 12px;
          padding: 2px 8px;
          border-radius: 4px;
          margin-right: 8px;
        }
      }
  
      .operate {
        .iconfont {
          cursor: pointer;
          font-size: 24px;
          color: @primary-font-color;
          margin-left: 20px;
        }
      }
    }
  
    &__body {
      height: calc(100% - 80px);
      padding: 12px;
      .write-section {
        height: calc(100% - 60px);
  
        .release {
          height: 60px;
          border: none;
          border-top: 1px solid @border-color;
          position: fixed;
          bottom: 0;
          width: calc(100% - 388px);
          line-height: 60px;
          text-align: right;
          margin-left: -12px;
          padding-right: 70px;
        }
      }
    }
  }
}

