#root {
  .logo {
    height: 64px;
    line-height: 64px;
    text-align: center;

    color: #FFF;
    font-size: 16px;
  }

  .ant-menu-item-selected {
    background-color: transparent !important;
    .active {
      color: red;
    }
  }

  .page {
    padding: 12px;
  }
}